html
	head
		title Classic Homepage
		link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", rel="stylesheet", type="text/css")
    script.
      console.log('Hi')
	body
    h1 hi
    script. 
      window.df = #{datafile}